<div class="limiter" >
    <div class="container-login100">
        <div class="wrap-login100" style="height: 600px;">
            <form class="login100-form validate-form p-l-55 p-r-55 p-t-178" action="/admin/login" method="POST">
                <span class="login100-form-title">
                    Sign In
                </span>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                    <input class="input100" type="email" name="ad_email" placeholder="Username">
                    <span class="focus-input100"></span>
                </div>

                <br> <br>
                <div class="wrap-input100 validate-input" data-validate = "Please enter password">
                    <input class="input100" type="password" name="password" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <br> <br>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Sign in
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>