<p class="alert alert-info">YOUR ORDER WAS DECLINED , WALLET BALANCE INSUFFICENT. </p>
<p class="alert alert-info"></p>WALLET BALANCE WAS : <%= Bal %></p>
<a href="http://localhost:3000/user/menu">Back to Menu</a>