<p class="alert alert-info">YOUR ORDER WAS PLACED SUCCESSFULLY. </p>
<p class="alert alert-info"></p>WALLET BALANCE REMAINING : <%= Bal %></p>
<a href="http://localhost:3000/user/menu">Back to Menu</a>