<section class="form-26" >
    <div class="form-26-mian">
           <div class="layer">
       <div class="wrapper">
       <div class="form-inner-cont" style="color: black;">
               <div class="forms-26-info" style="color: black;"> 
                    <h2>Login</h2>
                   <p>Welcome to PICT Canteen</p>
               </div>
               <div class="form-right-inf" style="color: black;"> 
                       <form action="/user/login" method="post" class="signin-form" style="color: black;"> 	
                        <div class="forms-gds">
                           <div  class="form-input">
                               <input type="email" name="email" placeholder="Email" required />
                           </div>
                           <div  class="form-input">
                               <input type="password" name="password" placeholder="Password" required />
                           </div>
                           <div  class="form-input"><button class="btn">Login</button></div>
                       </div>
                       <h6 class="already"> Dont have an account? <a href="/user/register"><span>Register Here<span></span></span></a></h6>
                   </form>
                   
               </div>
           </div>
       
       </div>
   </div>
       </div>
   </section>